@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

.hidden {
    display: none;
}

.input-field {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button, .download-button {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #1d4ed8;
}

.download-button {
    background-color: #10b981;
}

.download-button:hover {
    background-color: #059669;
}
